.btn {
  cursor: pointer;
  color: white;
  text-decoration: none;

  font-weight: 700;
  font-size: 14px;  
}

.btn.btn-primary {
  color: white;
  background: #EE4D47;
  border-radius: 5px;
  padding: 21px 24px;
}

.btn.btn-icon {
  position: relative;
  display: inline-block;
  height: 36px;
  width: 36px;
  color: white;
  background: #EE4D47;
  border-radius: 50%;

  font-size: 18px;

  i {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}